<header class="modal-header header">

  <nav class="navbar-dark na">
    <a routerLink="home" class="btn btn-link nav-item">Home</a>
    <a routerLink="/login" *ngIf="user.username == ''" class="btn btn-link nav-item">Login</a>
    <a *ngIf="user.username == ''" routerLink="/register" class="btn btn-link nav-item">Register</a>
    <a *ngIf="user.username != ''" routerLink="/profile" class="btn btn-link nav-item">Profile</a>
    <a *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'" routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
    <a *ngIf="user.userType == 'Member'" routerLink="/schedule/{{user.schedule.id}}" class="btn btn-link nav-item">My Schedule</a>
    <a href="#" *ngIf="user.userType == 'Admin'" routerLink="/admin" class="btn btn-link nav-item">Users</a>
    <a routerLink="/about_us" class="btn btn-link nav-item">About Us</a>
  </nav>

  <label *ngIf="user.username != ''" class="align-content-center">Hi {{user.firstName}}</label>

  <nav class="float-right">
    <a *ngIf="user.username != ''" class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
  </nav>
</header>

<div class="container">
  <h3>Contact Us</h3>
</div>
