<header class="modal-header header">

  <nav class="navbar-dark na">
    <a routerLink="home" class="btn btn-link nav-item">Home</a>
    <a routerLink="/login" *ngIf="user.username == ''" class="btn btn-link nav-item">Login</a>
    <a *ngIf="user.username == ''" routerLink="/register" class="btn btn-link nav-item">Register</a>
    <a *ngIf="user.username != ''" routerLink="/profile" class="btn btn-link nav-item">Profile</a>
    <a *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'" routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
    <a *ngIf="user.userType == 'Member'" routerLink="/schedule/{{user.schedule.id}}" class="btn btn-link nav-item">My Schedule</a>
    <a href="#" *ngIf="user.userType == 'Admin'" routerLink="/admin" class="btn btn-link nav-item">Users</a>
    <a routerLink="/contact_us" class="btn btn-link nav-item">Contact Us</a>
  </nav>

  <label *ngIf="user.username != ''" class="align-content-center">Hi {{user.firstName}}</label>

  <nav class="float-right">
    <a *ngIf="user.username != ''" class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
  </nav>
</header>

<div class="container">
  <h2 style="font-family: 'Cambria'">Welcome to Health Buddy</h2>
  <p class="col-4" style="font-family: 'Cambria'" >Good nutrition is the key to good mental and physical health. Eating a balanced diet is an important part of good health for everyone. The kind and amount of food you eat affects the way you feel and how your body works.</p>
  <p class="col-4" style="font-family: 'Cambria'"> We at Health buddy provide a platform for bringing together health and lifestyle preachers with the ones who seek their help in achieving their health goals. It is easy to use and anyone can sign up and enjoy the benefits of a healthy social network.</p>
  <p class="col-4" style="font-family: 'Cambria'">Register today and add any health requirements you might have to your profile, one of our trainers will respond by creating a descriptive schedule of certain days for you that will enable you to live a healthy lifestyle.</p>
  <p class="col-4" style="font-family: 'Cambria'">Our schedule will tell you about eating right and exercising regularly, if anytime you feel you need a change in your schedule and it is not working right for you, just update your requirements and a trainer will look into it and will update your schedule. Also, registered users get access to our Nutrition Teller App, which can be found in your schedule page. The Nutrition Teller App can be used to search for any food item of which you wish to know the nutrition of, The App will suggest possible food items as your search result and clicking on any one of them will tell you the nutrition that is present in that food item. You can use this when trying to achieve the nutrition goal recommended by our instructors in your schedule.</p>
  <p class="col-4" style="font-family: 'Cambria'">Get Ready to Live Healthy :)</p>
</div>
