
<div *ngFor="let widget of widgets">
  <div *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'">
    <textarea [(ngModel)] = "widget.text"
              class="form-control">

    </textarea>
  </div>
  <div *ngIf="user.userType == 'Member'">
    <ul>
      <li>
        {{widget.text}}
      </li>
    </ul>
  </div>

</div>
<div *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'">
  <button (click)="addWidget(dayId)"
          class="btn btn-link">Add New Description</button>
  <button (click)="saveWidgets()"
          class="btn btn-primary">Save</button>

</div>
