<div>
  <header class="modal-header header">

    <nav class="navbar-dark na">
      <a routerLink="home" class="btn btn-link float-right nav-item">Home</a>


      <a routerLink="/profile" class="btn btn-link nav-item">Profile</a>
      <a routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
      <a href="#" class="btn btn-link nav-item">About Us</a>
      <a href="#" class="btn btn-link nav-item">Contact Us</a>
    </nav>

    <label class="align-content-center">Hi Admin</label>

    <nav class="float-right">
      <a class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
    </nav>
  </header>
  <br>
  <div class="container">
  <ul>
    <li class="row">
      <b class="col-2">Username</b>
      <b class="col-2">First Name</b>
      <b class="col-2">Last Name</b>
      <b class="col-2">User Type</b>
      <b class="col-2">Email</b>
    </li>
  <br>
    <li class="row">
      <input [(ngModel)]="user.username" class="col-2 form-control" placeholder="Enter Username">
      <input [(ngModel)]="user.firstName" class="col-2 form-control" placeholder="Enter First Name">
      <input [(ngModel)]="user.lastName" class="col-2 form-control" placeholder="Enter Last Name">
      <select [(ngModel)]="user.userType" class="col-2 form-control">
        <option>Member</option>
        <option>Trainer</option>
      </select>
      <input [(ngModel)]="user.email" class="col-2 form-control" placeholder="Enter Email ID">
      <button (click)="register(user)" class="btn btn-success">+</button>
      <button (click)="update()" class="btn btn-primary">Save Update</button>
    </li>
  <br>
    <div *ngFor="let user of users">
      <div *ngIf="user.userType != 'Admin'">
      <li class="row form-row">
        <div class="col-2">
          {{user.username}}
        </div>
        <div class="col-2">
          {{user.firstName}}
        </div>
        <div class="col-2">
          {{user.lastName}}
        </div>
        <div class="col-2">
          {{user.userType}}
        </div>
        <div class="col-2">
          {{user.email}}
        </div>
        <div>
          <button (click)="deleteUser(user.id)" class="btn btn-danger">X</button>
        </div>
        <div>
          <button (click)="populate(user)" class="btn btn-link">Populate Data</button>
        </div>
      </li>
        <br>
      </div>
    </div>
  </ul>
    <h6>Note: Default password for a user is the same as the username.</h6>
</div>
</div>
