<div>
  <header class="modal-header header">

    <nav class="navbar-dark na">
      <a routerLink="home" class="btn btn-link float-right nav-item">Home</a>
      <a routerLink="/login" *ngIf="user.username == ''" class="btn btn-link nav-item">Login</a>
      <a *ngIf="user.username == ''" routerLink="/register" class="btn btn-link nav-item">Register</a>
      <a *ngIf="user.username != ''" routerLink="/profile" class="btn btn-link nav-item">Profile</a>
      <a *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'" routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
      <a *ngIf="user.userType == 'Member'" routerLink="/schedule/{{user.schedule.id}}" class="btn btn-link nav-item">My Schedule</a>
      <a href="#" class="btn btn-link nav-item">About Us</a>
      <a href="#" class="btn btn-link nav-item">Contact Us</a>
      <a href="#" *ngIf="user.userType == 'Admin'" routerLink="/admin" class="btn btn-link nav-item">Users</a>
    </nav>

    <label class="align-content-center">Hi Admin</label>

    <nav class="float-right">
      <a class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
    </nav>
  </header>  <ul>
    <li class="row">
      <b class="col-2">Username</b>
      <b class="col-2">First Name</b>
      <b class="col-2">Last Name</b>
      <b class="col-2">User Type</b>
      <b class="col-2">Email</b>
    </li>
    <li class="row">
      <input class="col-2 form-control" placeholder="Enter Username">
      <input class="col-2 form-control" placeholder="Enter First Name">
      <input class="col-2 form-control" placeholder="Enter Last Name">
      <select class="col-2 form-control">
        <option>Member</option>
        <option>Trainer</option>
      </select>
      <input class="col-2 form-control" placeholder="Enter Email ID">
      <button class="btn btn-success">Add User</button>
    </li>
    <div *ngFor="let user of users">
      <div *ngIf="user.userType != 'Admin'">
      <li class="row form-row">
        <div class="col-2">
          {{user.username}}
        </div>
        <div class="col-2">
          {{user.firstName}}
        </div>
        <div class="col-2">
          {{user.lastName}}
        </div>
        <div class="col-2">
          {{user.userType}}
        </div>
        <div class="col-2">
          {{user.email}}
        </div>
        <div class="col-2">
          <button class="btn btn-danger">Delete</button>
        </div>
      </li>
      </div>
    </div>
  </ul>
</div>
