<div class="container-fluid">
  <a routerLink="/home" class="btn btn-primary">Home</a>
  <br>
  <h1>Login</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         type="password"
         class="form-control"/>
  <button (click)="login(username, password)"
          class="btn btn-primary btn-block">
    Login
  </button>
  <br>
  <a routerLink="/register" class="btn btn-success">Register</a>
</div>
