<header class="modal-header header">

  <nav class="navbar-dark na">
    <a routerLink="home" class="btn btn-link nav-item">Home</a>
    <a *ngIf="user.username != ''" routerLink="/profile" class="btn btn-link nav-item">Profile</a>
    <a *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'" routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
    <a href="#" *ngIf="user.userType == 'Admin'" routerLink="/admin" class="btn btn-link nav-item">Users</a>
  </nav>

  <label *ngIf="user.username != ''" class="align-content-center">Hi {{user.firstName}}</label>

  <nav class="float-right">
    <a *ngIf="user.username != ''" class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class=" container col-4">

      <div class="form-control">
        <h4>User Requirements</h4>
        <div *ngIf="user.userType == 'Member' || user.userType == 'Admin'">
          <textarea [(ngModel)]="schedule.userRequirements"
                  class="form-control"
                  placeholder="Enter Requirements">

          </textarea>
          <button (click)="saveSchedule()" class="btn btn-primary">Save</button>
        </div>
        <div *ngIf="user.userType == 'Trainer'">
          {{schedule.userRequirements}}
        </div>
      </div>

      <div class="form-control container">
      <h4>Recommended Nutrition</h4>
        <div *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'">
      <ul>
        <li>Calories: <input [(ngModel)]="schedule.calories" type="text" class="form-control"></li>
        <li>Proteins: <input [(ngModel)]="schedule.proteins" type="text" class="form-control"></li>
        <li>Fats: <input [(ngModel)]="schedule.fats" type="text" class="form-control"></li>
        <li>Carbohydrates: <input [(ngModel)]="schedule.carbohydrates" type="text" class="form-control"></li>
        <button (click)="saveSchedule()" class="btn btn-primary">Save</button>
      </ul>
        </div>
        <div *ngIf="user.userType == 'Member'">
          <ul>
            <li>Calories: {{schedule.calories}}</li>
            <li>Proteins: {{schedule.proteins}}</li>
            <li>Fats: {{schedule.fats}}</li>
            <li>Carbohydrates: {{schedule.carbohydrates}}</li>
          </ul>
        </div>
      </div>

      <div *ngIf="user.userType == 'Member' || user.userType == 'Admin'"
           class="form-control container">
        <button routerLink="/schedule/{{scheduleId}}/poc" class="btn btn-success">Nutrition Teller App</button>
      </div>
    </div>
    <div class="col-8 container">
      <h4>Schedule For {{days.length}} Days</h4>
      <ul class="nav nav-tabs">
        <li *ngFor="let day of days; let i = index"
            class="nav-item nav">
          <a routerLink="/schedule/{{scheduleId}}/day/{{day.id}}/widget" class="btn btn-link day nav-link">
            Day {{i+1}}
          </a>
          <button (click)="deleteDay(day.id)" style="color: red" class="btn btn-link btn-sm">X</button>
        </li>
        <li *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'"><button (click)="createDay(scheduleId)" class="btn">+</button></li>
      </ul>
      <app-widget-list></app-widget-list>

    </div>
  </div>
</div>
