<div class="container-fluid">
  <div class="row">
    <div class="col-4">

      <div class="form-control">
        <h4>User Requirements</h4>
        <textarea class="form-control"
                  placeholder="Enter Requirements">

        </textarea>
        <button class="btn btn-primary">Save</button>

      </div>
      <div class="form-control">
      <h4>Nutrition Requirements</h4>
      <ul>
        <li>Calories: <input type="text" class="form-control"></li>
        <li>Proteins: <input type="text" class="form-control"></li>
        <li>Fats: <input type="text" class="form-control"></li>
        <li>Carbohydrates: <input type="text" class="form-control"></li>
        <button class="btn btn-primary">Save</button>
      </ul>
      </div>
    </div>
    <div class="col-8">
      <ul class="nav nav-tabs">
        <li *ngFor="let day of days"
            class="nav-item">
          <a class="nav-link">
            {{day.title}}
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
