<div class="container-fluid">
  <div class="row">
    <div class=" container-fluid col-4">

      <button routerLink="/home" class="btn btn-danger">Home</button>
      <div class="form-control">
        <h4>User Requirements</h4>
        <textarea class="form-control"
                  placeholder="Enter Requirements">

        </textarea>
        <button class="btn btn-primary">Save</button>

      </div>
      <div class="form-control">
        <button routerLink="/schedule/{{scheduleId}}/poc" class="btn btn-success">Health Tracker App</button>
      </div>
      <div class="form-control">
      <h4>Nutrition Requirements</h4>
      <ul>
        <li>Calories: <input type="text" class="form-control"></li>
        <li>Proteins: <input type="text" class="form-control"></li>
        <li>Fats: <input type="text" class="form-control"></li>
        <li>Carbohydrates: <input type="text" class="form-control"></li>
        <button class="btn btn-primary">Save</button>
      </ul>
      </div>
    </div>
    <div class="col-8">
      <h4>Schedule for {{days.length}} days</h4>
      <ul class="nav nav-tabs">
        <li *ngFor="let day of days; let i = index"
            class="nav-item">
          <a routerLink="/schedule/{{scheduleId}}/day/{{day.id}}/widget" class="btn btn-link nav-link">
            Day {{i+1}}
          </a>
        </li>
        <li><button (click)="createDay(scheduleId)" class="btn">+</button></li>
      </ul>
      <app-widget-list></app-widget-list>

    </div>
  </div>
</div>
