<header class="modal-header header">

  <nav class="navbar-dark na">
    <a routerLink="home" class="btn btn-link nav-item">Home</a>
    <a routerLink="/login" *ngIf="user.username == ''" class="btn btn-link nav-item">Login</a>
    <a *ngIf="user.username == ''" routerLink="/register" class="btn btn-link nav-item">Register</a>
    <a *ngIf="user.username != ''" routerLink="/profile" class="btn btn-link nav-item">Profile</a>
    <a *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'" routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
    <a *ngIf="user.userType == 'Member'" routerLink="/schedule/{{user.schedule.id}}" class="btn btn-link nav-item">My Schedule</a>
    <a href="#" *ngIf="user.userType == 'Admin'" routerLink="/admin" class="btn btn-link nav-item">Users</a>
  </nav>

  <label *ngIf="user.username != ''" class="align-content-center">Hi {{user.firstName}}</label>

  <nav class="float-right">
    <a *ngIf="user.username != ''" class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
  </nav>
</header>

<div class="container">

  <div class="row">
    <div class="col-8">
      <h3>Search The Food Item To Track Nutrition</h3>
    </div>
  </div>

  <div class="row container">
    <div class="col-8">
      <input [(ngModel)]="queryTerm"
             class="form-control"
             type='text'
             placeholder="Enter Search Term (Example: Pizza)">
    </div>
    <div class="col-4">
      <button title="Search"
              class="btn btn-primary"
              (click)="selectSearch()">Search</button>
    </div>
  </div>



  <div class="row">
    <div *ngIf="toggleSearch" class="container col-6">
        <h5>Select the appropriate item (Please wait while the list populates)</h5>
        <ul>
          <li (click)="displayDetails(food)"
              class="list-group-item webdev btn btn-link"
              *ngFor="let food of Foods">
            {{food.food_name}}
          </li>
        </ul>
    </div>

    <div *ngIf="toggleDetail" class=" container col-6">
        <h5>Description</h5>
        {{food.food_description}}}
    </div>

  </div>

</div>
