.header {
  background-color: black;
}

.footer {
  background-color: black;
}

a{
  color: white;
}

i{
  color: white;
}

label{
  color: black;
}

body{
  background-image: url("http://www.baltana.com/files/wallpapers-5/Health-Quotes-HD-Wallpapers-16018.jpg");
}
