<div class="container-fluid">
  <h1>Profile</h1>

  <label>Username: </label>
{{user.username}}
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.password"
         placeholder="password"
         class="form-control"
         type="password"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <button class="btn btn-primary btn-block">
    Update
  </button>
  <button (click)="logout()" class="btn btn-danger">Logout</button>
</div>
