
<div class="home">
  <header class="modal-header header">

    <nav class="navbar-dark na">
      <a routerLink="/home" class="btn btn-link nav-item">Home</a>
      <a routerLink="/login" *ngIf="user.username == ''" class="btn btn-link nav-item">Login</a>
      <a *ngIf="user.username == ''" routerLink="/register" class="btn btn-link nav-item">Register</a>
      <a *ngIf="user.username != ''" routerLink="/profile" class="btn btn-link nav-item">Profile</a>
      <a *ngIf="user.userType == 'Trainer' || user.userType == 'Admin'" routerLink="/schedules" class="btn btn-link nav-item">Schedules</a>
      <a *ngIf="user.userType == 'Member'" routerLink="/schedule/{{user.schedule.id}}" class="btn btn-link nav-item">My Schedule</a>
      <a href="#" *ngIf="user.userType == 'Admin'" routerLink="/admin" class="btn btn-link nav-item">Users</a>
      <a routerLink="/about_us" class="btn btn-link nav-item">About Us</a>
      <a routerLink="/contact_us" class="btn btn-link nav-item">Contact Us</a>
      <a *ngIf="user.username == ''" routerLink="/login" class="btn btn-link nav-item">Request a Schedule</a>
    </nav>

    <label *ngIf="user.username != ''" class="align-content-center">Hi {{user.firstName}}</label>

    <nav class="float-right">
      <a *ngIf="user.username == ''" routerLink="/login" class="btn btn-success nav-item">Nutrition Teller App</a>
      <a *ngIf="user.username != ''" class="nav-item btn btn-link" (click)="logout()" routerLink="/login">Logout</a>
    </nav>
  </header>
  <body>
    <img src="http://www.baltana.com/files/wallpapers-5/Health-Quotes-HD-Wallpapers-16018.jpg" class="img-fluid" alt="Responsive image">
    <!--<div class="col-4">-->
      <!--<p class="txt font-italic">"Good nutrition is the key to good mental and physical health. Eating a balanced diet is an important part of good health for everyone. The kind and amount of food you eat affects the way you feel and how your body works."</p>-->
    <!--</div>-->
    <!--<div class="col-4">-->
    <!--</div>-->
    <!--<div class="col-4">-->
      <!--<p class="txt font-italic">What are nutrients?-->
        <!--Nutrients are ingredients in food that help you:-->

        <!--Grow-->
        <!--Repair body tissue-->
        <!--Build new muscle tissue.-->
        <!--No single food will provide you with the right amount of nutrients. By combining foods from all the different food groups, you can meet your body's daily needs.</p>-->
    <!--</div>-->
    <!--<div class="col-3">-->

    <!--</div>-->

  </body>
  <footer class="modal-footer footer">
    <i>Content on nutrition and well being taken from https://www.kidney.org/atoz/content/nutritionwyska and image taken from http://www.baltana.com/files/wallpapers-5/Health-Quotes-HD-Wallpapers-16018.jpg</i>
  </footer>
</div>

