
<div class="home">
  <header class="modal-header">

    <nav class="navbar-dark na">
      <a class="btn btn-link float-right nav-item">Home</a>
      <a *ngIf="user.username == ''" routerLink="/login" class="btn nav-item">Login</a>
      <a *ngIf="user.username == ''" routerLink="/register" class="btn nav-item">Register</a>
      <a *ngIf="user.username != ''" routerLink="/profile" class="btn nav-item">Profile</a>
      <a *ngIf="user.userType == 'Trainer'" routerLink="/schedules" class="btn nav-item">Schedules</a>
      <a class="btn btn-link nav-item">About Us</a>
      <a class="btn btn-link nav-item">Contact Us</a>
    </nav>
  </header>
  <div class="row">
    <div class="col-3">
      <p class="txt font-italic">"Good nutrition is the key to good mental and physical health. Eating a balanced diet is an important part of good health for everyone. The kind and amount of food you eat affects the way you feel and how your body works."</p>
    </div>
    <div>
      <img src="https://www.w3schools.com/w3css/img_lights.jpg" class="img-fluid" alt="Responsive image">

    </div>
    <div class="col-3">

    </div>

  </div>
  <footer class="modal-footer">
    Content on nutrition and well being taken from https://www.kidney.org/atoz/content/nutritionwyska
  </footer>
</div>

