<div class="container-fluid">
  <h1>Register</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <select [(ngModel)]="user.userType"
          class="form-control">
    <option class="form-control">Trainer</option>
    <option class="form-control">Member</option>
  </select>
  <input [(ngModel)]="user.password"
         placeholder="password"
         class="form-control"
         type="password"/>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"
         type="password"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <button (click)="register(user, password2)"
          class="btn btn-primary btn-block">
    Register
  </button>

  <a class="btn btn-primary" routerLink="/login">Login</a>
  <a class="btn btn-success" routerLink="/home">Home</a>

</div>
